<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>website!</title>

    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <h1>LOADING!!!!!</h1>
      </header>
    </div>
    <script src="/main.js" defer></script>
  </body>
</html>
